header {
    background-color: #171616;
    padding: 50px 0 210px 0;
}

#mainTitle {
    text-align: center;
    padding: 40px;
    color: #C2C2C2;
    font-weight: 100;
    letter-spacing: 1px;
}

.firstIndexBox {
    max-width: 65%;
    margin: 150px auto 0 auto;
    display: flex;
}

.textBoxIndexBox {
    max-width: 47%;
    padding: 40px;
}

#logan {
    font-size: 3rem;
    margin-bottom: 20px;
}

#firstDescription {
    letter-spacing: 2px;
    font-size: 1.1rem;
}

#logan, #firstDescription {
    color: #C2C2C2;
}

.imageIndexBox img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    border: 1px solid transparent;
    box-shadow: 0 2px 4px #C2C2C2;
}

@media (max-width: 1280px) {

    .firstIndexBox {
        max-width: 80%;
    }

}

@media (max-width: 1024px) {

    .firstIndexBox {
        max-width: 90%;
    }

}

@media (max-width: 820px) {

    .firstIndexBox {
        max-width: 99%;
    }

}

@media (max-width: 600px) {

    header {
        padding: 10px 0 100px 0;
    }

    .firstIndexBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textBoxIndexBox {
        max-width: 90%;
        text-align: center;
    }

    #firstDescription {
        font-size: 0.9rem;
        line-height: 1.3rem;
        letter-spacing: 1px;
    }

    #logan {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    .imageIndexBox {
        display: flex;     
        justify-content: center; 
    }

    .imageIndexBox img {
        width: 80%;
    }

}