<footer>

    <div id="footer-first-element">
        <p id="footer-element-text">
            © - Martin Mehrwaldt
        </p>
    </div>

    <div id="footer-socials-box">

        <span>Keep in touch</span>

        <div id="socials">

            <a href="https://github.com/martinmehrwaldt" target="_blank">

                <i class="fa-brands fa-github"></i>

            </a>

            <a href="https://www.linkedin.com/in/martin-mehrwaldt-13548820b/" target="_blank">

                <i class="fa-brands fa-linkedin"></i>

            </a>

            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=mmehrwaldt@gmail.com" target="_blank">

                <i class="fa-solid fa-envelope"></i>

            </a>

            <a href="https://wa.me/5493518032679" target="_blank">

                <i class="fa-brands fa-whatsapp"></i>

            </a>

        </div>

    </div>

</footer>