<header>

    <h2 id="mainTitle">
        Martín Mehrwaldt
    </h2>

    <div class="firstIndexBox">
        <div class="textBoxIndexBox">
            <h3 id="logan">
                "If you can imagine it, you can build it"
            </h3>
            <P id="firstDescription">
                Hello, I'm Martín Mehrwaldt, a junior web developer from Argentina. I have experience developing full-stack web applications, including front-end and back-end, using PHP, MySQL, HTML, CSS, SCSS, and JavaScript. I have built production projects, such as a web application for a well-known company, featuring a catalog, shopping cart, and administration panel.
            </P>
            
        </div>
        <div class="imageIndexBox">
            <img src="img/firstImg.png" alt="codingImage">
        </div>
        
    </div>

</header>